html {
  font-size: 62.5%;
}
body {
  background-image: url(assets/img/backgroundImage.png);
  background-size: cover;
  min-height: 100vh;
  margin: auto 0;
  align-content: center;
}
#root {
  margin: 30px auto;
  width: 315px;
  height: 100%;
}
h1 {
  text-align: center;
  font-family: Stardos Stencil;
  font-size: 4rem;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  margin: 25px auto;
  background-color: #ff9900;
  padding: 10px;
  border-radius: 10px;
}
input,
button {
  border-radius: 3px;
  border: none;
  aspect-ratio: 1.6/1;
  padding: 5px;
  background-color: #fff;
}
input {
  height: 30px;
  width: 180px;
}
button {
  cursor: pointer;
  width: 80px;
  height: 30px;
  text-align: center;
  background-color: #87ceeb;
}
button:hover {
  opacity: 0.5;
}
.results,
.addressinfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.results,
.addressinfo,
.addressinfo div p,
h2 {
  width: 295px;
}
.addressinfo div {
  font-size: 1.4rem;
}
.results {
  background-color: #fff;
  border: 5px solid #ff9900;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 0px rgba(255, 153, 0, 0.6);
  padding: 5px;
  margin-bottom: 30px;
  width: 100%;
}
h2 {
  margin-top: 0;
  border-bottom: 5px solid rgba(167, 122, 91, 0.302);
  font-family: Stardos Stencil;
  font-size: 1.6rem;
}
iframe {
  width: 100%;
  aspect-ratio: 1.6/1;
}
.manualTitle,
.manual img {
  width: 100%;
}
.manualTitle {
  border-bottom: none;
  text-align: center;
  font-size: 3.2rem;
}
small {
  display: block;
  margin-bottom: 30px;
  text-align: center;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  #root {
    width: 700px;
  }
  form {
    flex-direction: row;
  }
  h2 {
    width: 100%;
  }
  .addressinfo {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .addressinfo div,
  .addressinfo div p {
    width: 315px;
  }

  @media screen and (min-width: 1440px) {
    #root {
      width: 1000px;
    }
    .addressinfo div,
    .addressinfo div p {
      width: 480px;
    }
  }
}
